*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:00]
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p tcp -m tcp ! --tcp-flags FIN,SYN,RST,ACK SYN -m state --state NEW -j DROP
-A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,RST,PSH,ACK,URG -j DROP
-A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG NONE -j DROP
-A INPUT -f -j DROP

## Allow all web traffic

-A INPUT -p tcp -m multiport --dports 80,443 -j ACCEPT

# Allow full access for {{organisation}} Prefixes

-A INPUT -s {{subnet}} -j ACCEPT
-A INPUT -s {{subnet2}} -j ACCEPT
-A INPUT -s {{subnet3}} -j ACCEPT
-A INPUT -s {{ Institution_prefix }} -j ACCEPT

## Allow KENET office IPS and Institution prefix for ICMP

-A INPUT -s {{subnet}} -p icmp -j ACCEPT
-A INPUT -s {{subnet2}} -p icmp -j ACCEPT
-A INPUT -s {{subnet3}} -p icmp -j ACCEPT
-A INPUT -s {{ Institution_prefix }} -p icmp -j ACCEPT

-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A INPUT -j LOG
-A INPUT -j DROP

-A FORWARD -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j LOG

## Allow http & https outbound

-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -p tcp -m multiport --dports 80,443 -j ACCEPT

## Allow access to KENET DNS servers

-A OUTPUT -d {{dns1}} -p tcp -m state --state NEW -m multiport --dports 53 -j ACCEPT
-A OUTPUT -d {{dsn1}} -p udp -m state --state NEW -m multiport --dports 53 -j ACCEPT
-A OUTPUT -d {{dns2}} -p tcp -m state --state NEW -m multiport --dports 53 -j ACCEPT
-A OUTPUT -d {{dns2}} -p udp -m state --state NEW -m multiport --dports 53 -j ACCEPT


## Allow outbound ping

-A OUTPUT -p icmp -j ACCEPT


COMMIT
